<h1>New</h1>

<form method="POST" action="/beaches">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="color">Country</label>
    <input type="text" name="country" id="color">
  </div>

  <div>
    <label for="color">Seabed</label>
    <input type="text" name="seabed" id="color">
  </div>

  <div>
    <label for="color">Waves</label>
    <input type="text" name="waves" id="color">
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="description"></textarea>
  </div>

  <button>Create</button>
</form>
